* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;

}

html{
    scroll-behavior: smooth;
}

/*------ Variabili css ------*/
:root{
    /*colors*/
--green-color: #df4e2d;
--background-color: #ffffff;
--white: #42405b;
--dark-white: #9599A3;

}
/* -------------------- Font ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap');

/* -------------------- Body Index ----------------*/

body{
    background: var(--background-color);
    color: var(--white);
}

.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.header::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/mestesso2.png);
    background-size: cover;
    background-position: center;
}


.menunav{
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;

}

.container2{
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.logo{
    width: 70px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
}

nav ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--green-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 14%;
    width: 60%;
    

}

.header-text h1{
    font-size: 80px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.header-text p{
    line-height: 1.2;

}

.header-text h1 span{
    color: var(--green-color);
}

#one{
    font-size: 30px;
}

#one span{
    color: var(--green-color);
}

#sub{
    font-size: 25px;}

#sub span{
    color: var(--green-color);
}


/*-------- Body pag about---------------*/

.header-about{
    width: 100%;
    height: 100vh;
}
 .title-about{
    padding-top: 80px;
    padding-right: 80px;
 }

 .title-about h1{
    font-size: 60px;
    font-weight: 600;
    
 }

 .title-about h1 span{
    color: var(--green-color);
 }

.row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 50px;
    position: relative;
}

.about-col-2 p{
    padding-left: 30px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color:var(--white);
}

.about-col-2 p span{
color: var(--green-color); }

.about-col-1 img{
    border-radius: 15px;
    width: 100%;
}

/*-- skills section --*/ 

.title-2{
 
    font-size: 50px;
    font-weight: 600;
}

.title-3{
    font-size: 30px;
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}


.tab-links{
    margin-right: 80px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--dark-white);
}

/*---- codici per lineetta tab attiva (active-link)----*/
.tab-links::after{
content: "";
width: 0;
height: 3px;
background: var(--green-color);
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}


.tab-contents ul li span{   
    color: var(--green-color);
}

/*---- codici per contenuto tab non attivo/attivo (active-tab)----*/

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#Skills{
    padding-top: 50px;
    font-size: 50px;
    font-weight: 600;
}

/*---------------- Portfolio------------*/

#portfolio{
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 70px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #2a293bae;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.work:hover .card-body{
    right: 0;

}

.card-title{
 padding-left: 40px;
 padding-bottom: 30px;
 text-transform: uppercase;
 font-size: 40px;
 font-weight: 600;
}

.card-sub-title{
 padding-left: 40px;
 padding-bottom: 30px;
 font-size: 16px;
 color: var(--dark-white);
 font-weight: 600;
}

.card-info{
    padding-left: 40px;
    font-size: 18px;
    padding-right: 20px;
}

.card-button{
    display: block;
    margin-top: 60px;
    margin-left: 40px;
    width: fit-content;
    padding: 10px 30px;
    color: var(--background-color);
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s;
    text-decoration: none;
    background-color: var(--green-color);
}

.card-button:hover{
    background: var(--background-color);
    color: var(--green-color);
    border: 2px var(--green-color);
}

#buttonmore{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid var(--green-color);
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--white);
    transition: background 0.5s;
}

#buttonmore:hover{
    background: var(--green-color);
    color: var(--background-color);

}

/*--------------Contact-----------*/

#contactme{
    padding-right: 70px;
    font-size: 40px;
}

.contact-left{
    flex-basis: 35%;
    padding-left: 70px;
}

.contact-left p{
    margin-top: 30px;
    font-size: 25px;

}

.contact-left p i{
    color: var(--green-color);
    font-size: 25px;
    margin-right: 15px;
}

.contact-left p a{
    color: var(--white);
}

#contact-sub{
    font-size: 20px;
}

.social-icons{
    margin-top: 30px;

}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--white);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--green-color);

}

#buttonCV{
    display: block;
    width: fit-content;
    margin-top: 30px;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--background-color);
    transition: background 0.5s;
    background: var(--green-color);
}

#buttonCV:hover{
    background: var(--white);
    color: var(--background-color);
}

#buttonsubmit{
    display: block;
    width: fit-content;
    margin-top: 30px;
    padding: 14px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--background-color);
    transition: background 0.5s;
    background: var(--green-color);
    font-size: 16px;
}

#buttonsubmit:hover{
    background: var(--white);
    color: var(--background-color);
}

/*----copyright----*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--dark-white);
}
